.navbar-hytek {
  height: 70px;
  background: #88bb92;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.navbar-hytek-logo img {
  position: center;
  left: 0;
  height: 50px;
}

ul#navbar-links li {
  display: inline;
  padding: 0px 10px;
}

.navbar-link-items {
  color: white;
  font-size: 22px;
  transition: color 0.3s ease;
  text-decoration: none;
  margin-right: 5px;
  &:hover {
    color: #3d6c39;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    outline: none;
    color: #3d6c39;
  }
}

.navbar-link-items.active {
  color: #3d6c39;
  border-bottom: 2px solid #3d6c39;
}
